body {
    background-color: rgba(108, 157, 235, 0.531);
    background-image: url(gifs/konfetti.gif);
}
header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: monospace;

}

div {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
}