body {
    background-color: pink;
    align-items: center;
    justify-content: center;
    

}

figure {
    padding: 5%;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 230%;
    font-weight:bolder ;
    font-family:monospace;
    border-radius: 22px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2); 
    
}

#button1 {
    background-color: rgb(234, 59, 117);
    border-radius: 22px;
    border: 0cap;
    text-align: center;
    font-weight: bolder;

    padding-right: 20px;
    padding-left: 20px;
    font-size: 23px;
    cursor: pointer;
}

#button2 {
    background-color: rgb(202, 184, 190);
    border-radius: 22px;
    border: 0cap;
    text-align: center;
    font-weight: bolder;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    bottom: 0px;
    left: 0px;
    
    
}


button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}